body {
  font-size: 1rem;
  margin: 3% 15%;
  color: #fff;
  background-color: #0A81AB;
}

.title-beer {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-size: 4rem;
}

.title-ui {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #e0e0e0;
}

/* ICONS */
.beer {
  margin: 2rem 1rem;
  font-size: 8rem;
}


.hr-one {
  position: relative;
  width: 70%;
  left: 4rem;
}

.text {
  margin: 5rem 5rem;
}

.row {
  padding: 5% 15% 10%;
}



/* Card Control  */
.left-card {
  background-color: #28B5B5;
  text-align: center;
  border-top-left-radius: 15%;
  /* border-bottom-left-radius: 3%; */
  -webkit-box-shadow: 0px 0px 4px #28B5B5;
  -moz-box-shadow: 0px 0px 4px #28B5B5;
  box-shadow: 0px 0px 8px #28B5B5;
}



.right-card {
  background-color: #0C4271;
  /* border-top-right-radius: 3%; */
  border-bottom-right-radius: 15%;
  color: #fff;
  padding: 2% 0;
  -webkit-box-shadow: 0px 0px 4px #0C4271;
  -moz-box-shadow: 0px 0px 4px #0C4271;
  box-shadow: 0px 0px 8px #0C4271;

}

/* Form control */
form {
  padding: 10%;
  line-height: 2;
}

.form-control {
  color: #fff;
  background-color: #0C4271;
  border-color: #0C4271;
  border-bottom-color: grey;
}

.form-control:focus {
  background-color: #0C4271;
  color: #fff;
}

/* Button control */
.button-signin {
  /* margin-top: 25%; */
  margin-right: 10px;
  background-color: #28B5B5;
  border-color: #28B5B5;
}

.button-signin:hover {
  background-color: #0A81AB;
  border-color: #0A81AB;
}


.btn-group {
  padding: 0 2% 2% 50%;
}

.checkbox {
  text-decoration: none;
  color: #28B5B5
}

.FINAL-btn{
  margin-top: 18%;
}


.active-button.btn.active{
  background-color: #F9DFDC;
  color: #111;
  box-shadow: 0px 0px 8px #0C4271;
}

.active-button.btn.active:hover{
  background-color: #28B5B5;
  border-color:#28B5B5;
  color: #fff;
}

.second-button{
  background-color: #28B5B5;
  /* box-shadow: 0px 0px 8px #28B5B5; */
  border-color: #28B5B5;
}

.second-button:hover {
  background-color: #0A81AB;
  border-color: #0A81AB;
}

@media (max-width: 990px) {
  .left-card.col-lg-6 {
    height: 25%
  }

  .text {
    margin: 1rem 1rem;
  }

  .beer {
    margin: 2rem 1rem;
    font-size: 5rem;
  }

  .title-beer {
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size: 2.5rem;
  }

  .title-ui {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #e0e0e0;
    font-size: 1rem;
  }

}
